<h1>Detalhes do Carro</h1>

<div class="form-group">
  <label for="" class="form-label">Placa</label>
  <p class="form-control">{{car.plate}}</p>
</div>

<div class="form-group">
  <label for="" class="form-label">Modelo</label>
    <p class="form-control">{{car.model}}</p>
</div>

<div class="form-group">
  <label for="" class="form-label">Cor</label>
  <p class="form-control">{{car.color}}</p>
</div>

<div class="form-group">
  <label for="" class="form-label">Proprietario</label>
  <p class="form-control">{{car.owner}}</p>
</div>

<div class="form-group">
  <a href="/#!/carros" class="btn btn-default">Voltar</a>
</div>
