<div class="panel panel-default container">
  <h1>Carros na garagem</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h3>Selecione a placa:</h3>
      <select ng-model="selectedCar" class="form-control" name="">
        <option ng-repeat="c in cars" value="{{c.$id}}">{{c.plate}}</option>
      </select>
      <a ng-click="Search()" class="btn btn-default">Pesquisar</a>
    </div>
  </div>
  <hr>
  <div class="car-details " ng-show="visible">
    <h3>Detalhes do carro</h3>
    <div class="col-md-3">
      <p><b>Placa:</b><label>{{car.plate}}</label></p>
    </div>
    <div class="col-md-3">
      <p><b>Modelo:</b><label>{{car.model}}</label></p>
    </div>
    <div class="col-md-3">
      <p><b>Cor:</b><label>{{car.color}}</label></p>
    </div>
    <div class="col-md-3">
      <p><b>Proprietario:</b><label>{{car.owner}}</label></p>
    </div>
    <div class="col-md-12">
      Valor/hora: <input type="number" ng-model="valueHour">
    </div>
    <br>
    <div class="col-md-12">
      <br>
      <br>
      <a ng-click="Park()" class="form-control btn btn-primary">Estacionar</a>
      <br>
      <hr>
    </div>

  </div>
<hr>

  <div class="parked-cars">
    <h2>Carros na Garagem</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Placa</th>
          <th>Entrada</th>
          <th>Valor/hora</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pc in parkedCars">
          <td>{{pc.car.plate}}</td>
          <td datetime="dd/MM">{{pc.inTime}}</td>
          <td>R$ {{pc.hourValue}}</td>
          <td>
            <a href="/#!/checkout/{{pc.$id}}" class="btn btn-default">Saida</a>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
