<div class="panel panel-default">
  <div class="panel-heading">Carros na garagem</div>

  <div class="row">
    <div class="col-md-4">
      <h2>Selecione a placa:</h2>
    </div>
    <div class="col-md-2">
      <select ng-model="selectedCar" class="form-control" name="">
        <option value="-1">Selecione...</option>
        <option ng-repeat="c in cars" value="{{c.id}}">{{c.plate}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <a ng-click="Search()" class="btn btn-default">Pesquisar</a>
    </div>
  </div>

  <div class="car-details" ng-show="visible">
    <div class="row">
      <div class="col-md-3">
        <p><b>Placa:</b><label>{{car.plate}}</label></p>
      </div>
      <div class="col-md-3">
        <p><b>Modelo:</b><label>{{car.model}}</label></p>
      </div>
      <div class="col-md-3">
        <p><b>Cor:</b><label>{{car.color}}</label></p>
      </div>
      <div class="col-md-3">
        <p><b>Proprietario:</b><label>{{car.owner}}</label></p>
      </div>
    </div>
    <div class="row">
      Valor/hora: <input type="number" ng-model="valueHour">
    </div>
    <div class="row">
      <div class="col-md-12">
        <a ng-click="Park()" class="form-control btn btn-primary">Estacionar</a>
      </div>
    </div>
  </div>


  <div class="parked-cars row">
    <h2>Carros na Garagem</h2>
    <a ng-click="CalcValue()">Atualizar valores</a>
    <table class="table">
      <thead>
        <tr>
          <th>Placa</th>
          <th>Entrada hora</th>
          <th>Entrada dia</th>
          <th>Valor/hora</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pc in parkedCars">
          <td>{{pc.car.plate}}</td>
          <td>{{pc.in | date: 'HH:mm'}}</td>
          <td>{{pc.in | date: 'dd/MM/yy'}}</td>
          <td>{{pc.hourValue}}</td>
          <td>R$ {{pc.value}}</td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
